<div id="CajaCentral" class="CentrarVerical">
  <div id="Anuncios" class="CentrarVerical">
    <table class="CentrarVerical">
      <tr>
        <th>Stand</th>
        <th></th>
        <th>Hora</th>
      </tr>
      <tr>
        <td id="Stand1">1</td>
        <td id="Anuncio1">Mensaje de aviso.</td>
        <td id="Horario1">20:30</td>
      </tr>
      <tr>
        <td id="stand2">2</td>
        <td id="Anuncio2">Mensaje de aviso numero 2.</td>
        <td id="Horario2">20:50</td>
      </tr>
    </table>
  </div>
</div>