<footer id="footer">
  <div class="SocialDiv">
    <button onclick="window.location='https://twitter.com/Ivan_Antoff'"
      id="SocialButton" class="tw-button"></button>
    <button onclick="window.location='https://www.instagram.com/Ivan.Antoff'"
      id="SocialButton"
      class="ig-button"></button>
    <button onclick="window.location='https://www.facebook.com/Ivan.Antoff'"
      id="SocialButton"
      class="fb-button"></button>
    <button onclick="window.location='https://github.com/IvanAntoff/'"
      id="SocialButton" class="gh-button"></button>
  </div>
  <div class='onesignal-customlink-container'></div>
</footer>