<head>

  <!-- estilo y manifiesto -->
  <link rel='manifest' href='assets/manifest.json'>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Recordatorios reelevantes sobre FCYT UADER
    en la expo industrial!">

  <!-- Favicons -->
  <link rel="icon" href="assets/images/icons/icon-72x72.png">

  <script type="text/javascript" src="assets/js/IniciarServiceWorker.js"></script>
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
      OneSignal.init({
        appId: "86127c3e-e72b-46bd-aa49-8f5e9e1b25b9",
      });
    });
  </script>
  <!-- Titulo -->
  <title>FCYT UADER - C. Del U.</title>

  <!-- Cebecera -->
  <header>
    <a href="/"><img src="assets/images/assents/header.png"
        class="ImgCabecera
        CentrarVertical"></a>
  </header>
</head>